* {
  box-sizing: border-box;
}

a:link {
  color:black;
}

a:visited {
  color:white;
}

a:hover {
  color: darkred;
}

body {
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $lletra;
  background: linear-gradient(-45deg, #b0a489, #b2a078);
  background-size: 400% 800%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  border-radius: 4px;
}

.container-header {
  background-color: $fons_secondari;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.container-figureta {
  padding: 0;
}

.container-article {
  background-color: $fons_secondari;
  border-radius: 4px;
}

.integrat {
  color: $destacat3;
}

.fig__figureta {
  margin: 0;
}

.fig__peu {
  padding: 0.5rem 1rem 2rem 1rem;
}

.img__img-fluid {
  max-width: 100%;
  border-radius: 4px
}

.container-activitats {
  @media (max-width: $mqMinWidth) {
    display: block;
  }
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.lamola-footer {
  display: flex;
  align-items: center;
  color: $destacat3;
}

.clip-circle {
  clip-path:circle(4rem at center);
  display: block;
  margin: auto;
}