* {
  box-sizing: border-box;
}

a:link {
  color:black;
}

a:visited {
  color:white;
}

a:hover {
  color: darkred;
}

body {
  height: 100vh;
  margin: 0;
  font: {
    family: $font-family-sans-serif;
    size: 16px; 
  }
  line-height: 24px;
  color: $lletra;
  background: linear-gradient(-45deg, $gradientcolor1, $gradientcolor2);
  background-size: 400% 800%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  border-radius: 4px;

  &--header {
    background-color: $fons;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    h1 {
      font-size: 3rem;
    }
  }

  &--figureta {
    padding: 0;
  }

  &--fonscontrast {
    background-color: $fons;
  }

  &--fonsintegrat {
    color: $destacat;
  }

  &--activitats {
    display: block;

    @media (min-width: $mqMinWidth) {
      display: grid;
      grid-template-columns: auto auto;
      gap: 1rem;
    }
  }

  &--autor {
    display: flex;
    align-items: center;
    color: $destacat;
  }
}

.figureta {
  margin: 0;

  &__picture img {
    filter:  brightness(110%);
  }

  &__figcap {
    padding: 0.5rem 1rem 2rem 1rem;
  }
}

.img-fluid {
  max-width: 100%;
  border-radius: 4px
}

.clip-circle {
  clip-path:circle(4rem at center);
  display: block;
  margin: auto;
}