* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $fons;
  color: $lletra;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

.container-figureta {
  padding: 0;
}

.fig__figureta {
  margin: 0;
}

.fig__peu {
  padding: 0rem 1rem 0rem 1rem;
}

.img__img-fluid {
  max-width: 100%;
}

.uoc-title {

  @media (min-width: $mqMinWidth) {
    font-size: 36px;
  }
}

