@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$fons1: #825409;
$fons: #392506;
$lletra: #FCD892;
$destacat: #EA9A1B;
$destacat2: #F2B446;

$mqMinWidth: 420px;
